@if (showModal) {
  <div
    #modalDiv
    (keyup)="onKeyUp($event)"
    (keydown)="onKeyDown($event)"
    tabindex="0"
    class="fixed inset-0 flex items-center justify-center z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      aria-hidden="true"></div>
    <div
      class="relative w-full sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <button
          type="button"
          (click)="toggleModal()"
          class="absolute top-1 right-1 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
          <fa-icon [icon]="faClose" size="xl"></fa-icon>
          <span class="sr-only">sluit modal</span>
        </button>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
}
